.info {
	display: flex;
	flex-direction: column;
	gap: 10px;

	&-mt {
		margin-top: 20px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 6px;
	}

	&__img {}

	&__btns {
		display: flex;
		justify-content: center;
		gap: 13px;

		&-mt {
			margin-top: 15px;
		}
	}
}

.text__sub {
	font-weight: bold;
}