.aws-btn {
	--slider-height-percentage: 60%;
	--slider-transition-duration: 200ms;
	--organic-arrow-thickness: 6px;
	--organic-arrow-border-radius: 10px;
	--organic-arrow-height: 30px;
	--organic-arrow-color: #64a2ff;
	--control-button-width: 10%;
	--control-button-height: 25%;
	--control-button-background: transparent;
	--control-bullet-color: #7d7c7c;
	--control-bullet-active-color: #64a2ff;
	--loader-bar-color: #851515;
	--loader-bar-height: 5px;
}

.awssld__bullets {
	z-index: 3;
	bottom: 12px;
}