.textarea-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
}

.textarea {
	padding: 6px 7px;
  width: 100%;
  height: 10em;
	font-size: clamp(17px, 2.5vw, 20px);
	border: 1px solid #b1b1b1;
  border-radius: 10px;
	resize: none;
	transition: all 0.3s ease-in;

	&-error {
		border: 1px solid #d80d0d;
	}

	&:hover {
    border: 1px solid #5cadf8;
  }

	&:focus {
		border: 1px solid #5cadf8;
	}
}