.workInfo {
  display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;

  &Content {
   	display: flex;
  	flex-direction: column;
  	justify-content: center;
  }

  &Titles {
    display: flex;
  	align-items: center;
  	justify-content: center;

  	&-mt-18 {
  		margin-top: 18px;
  	}
  }
}
