body {
	width: 100%;
	height: 100%;
  font-size: clamp(14px, 2.5vw, 25px);
  color: #000;
  background-color: #dfdfdf;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.none {
	display: none;
}

.title {
  font-size: clamp(18px, 3vw, 30px);
  font-weight: bold;

	&-center {
		text-align: center;
	}
}

.title-1 {
  font-size: clamp(16px, 2.5vw, 26px);
  font-weight: bold;
}

.line {
  margin: 7px;
  border: 1px solid rgba(96, 96, 96, 0.5);
}

.link {
  display: flex;
  align-items: center;
  column-gap: 5px;
  transition: all 0.3s ease-out;

	&-jcc {
		justify-content: center;
	}

	&:has(.lucide:hover) {
		fill:#5e5d5d;
	}
}

.label {
  font-size: clamp(14px, 2.2vw, 20px);
  display: flex;
  flex-direction: column;
  gap: 5px;

	&__text {
		position: relative;
		display: inline;
	}

	&-upload {
  	padding: 6px 7px;
		flex-direction: row;
		align-items: center;
		border: 1px dashed black;
		border-radius: 10px;
		transition: all 0.3s ease-in;

		&:hover {
			color: #5e5d5d;
			border-color: #5e5d5d;
		}
	}
}

.no_margin {
  margin: unset !important;
  margin-top: unset !important;
}

.work-log {
	padding: 5px 0 15px;
}

.form {
  &-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-row {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__content {
		&-w-55 {
			width: 55%;
		}

    &-col {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-mt + * {
      margin-top: 27px;
    }
  }

  &__custom-select {
    &__value-container {
      font-size: clamp(17px, 2.5vw, 20px) !important;
    }

		&__control {
      border: 1px solid #b1b1b1 !important;
      border-radius: 10px !important;

			&:hover {
				border: 1px solid #5cadf8 !important;
			}
    }

    &__input-container {
      cursor: text !important;
    }

    &__indicator {
      cursor: pointer;
      color: black !important;

      &:hover {
        color: #636363 !important;
      }
    }

    &__menu {
      font-size: 20px !important;
      border: 1px solid #b1b1b1 !important;
      border-radius: 7px !important;
      animation: scaleIn 0.35s ease-in-out;
			z-index: 2 !important;
    }

    &__option {
      cursor: pointer !important;

      &--is-selected {
        color: #000 !important;
        background-color: #cccccc !important;
        border-radius: 7px !important;
      }

      &--is-focused {
        background-color: #ebebeb !important;
        border-radius: 7px !important;
      }
    }

  }
	
	// .react-datepicker__view-calendar-icon input {
	// 	padding: 6px 10px 5px 40px;
	// }

	// .react-datepicker__input-container .react-datepicker__calendar-icon {
	// 	padding: 0.4rem;
	// }

  &__btns {
    display: flex;
    align-items: center;
  }
}

.control {
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
	}
}

.filters {
	gap: 5px;
	
	&-row {
		display: flex;
	}
}

.file-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3px;
}

.text-mandatory {
	position: absolute;
	top: 0;
	left: -14px;
	color: #d80d0d;
}

.text {
	font-size: clamp(14px, 3vw, 23px);

	&-mt-5 {
		margin-top: 8px;
	}
}

.sub-text {
	padding-left: 5px;
	font-weight: bold;
}

.lucide {
	transition: all 0.3s ease-in;
}

// Table
.table-cell-row {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

// Nuka
.nuka-page-indicator {
	background-color: #7d7c7c !important;
}

.nuka-page-indicator-active {
	background-color: #5cadf8 !important;
}

.nuka-nav-button-prev, .nuka-nav-button-next {
	transition: all 0.3s ease-in !important;
}

.nuka-nav-button-prev:hover, .nuka-nav-button-next:hover {
	transform: scale(1.2) !important;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    color:rgb(94, 93, 93);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}