@tailwind base;
@tailwind components;
@tailwind utilities;

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

input:focus, input:active, textarea:active, textarea:focus,
button:focus, button:active {
  outline: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input::-ms-clear {
	display: none;
}

body {
  font-size: clamp(14px, 2.5vw, 25px);
}

.work-log {
  @apply px-3 pt-2 pb-9 overflow-x-hidden;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  justify-items: center;
  gap: 15px;

  & + * {
    margin-top: 25px;
  }
}

.cards-work {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  justify-items: center;
  gap: 15px; */
  @apply flex flex-col gap-3;

  & + * {
    margin-top: 25px;
  }
}

.btnLink {
  @apply btn btn-sm;
}

.text-title {
  @apply text-xl;
}

.text-content {
  @apply text-lg font-normal;
}

.text-mandatory {
  @apply absolute top-0 -left-3 text-red-600;
}


/* ------- */

.none {
	display: none;
}

.title {
  font-size: clamp(18px, 3vw, 30px);
  font-weight: bold;

	&-center {
		text-align: center;
	}
}

.title-1 {
  font-size: clamp(16px, 2.5vw, 26px);
  font-weight: bold;
}

.line {
  margin: 7px;
  border: 1px solid rgba(96, 96, 96, 0.5);
}

.link {
  display: flex;
  align-items: center;
  column-gap: 5px;
  transition: all 0.3s ease-out;

	&-jcc {
		justify-content: center;
	}
}

.icon {
  @apply w-5 h-5;

  &__setting {
    @apply hover:animate-spin;
  }
}

.label {
  @apply flex flex-col gap-2 ml-3 p-0;
  font-size: clamp(14px, 2.2vw, 19px);

	&__text {
	 @apply relative inline;
	}

	&-upload {
	  @apply flex-row items-center m-0 px-[10px] py-2 border border-solid border-gray-300 transition-colors duration-300 ease-in-out hover:border-blue-200 cursor-text;
	}
}

.no_margin {
  margin: unset !important;
  margin-top: unset !important;
}

.form {
  @apply flex flex-col gap-4 h-full;

  &__custom-select {
    transition: all 0.3 ease-out;

    &__value-container {
      font-size: clamp(17px, 2.5vw, 19px) !important;
    }

		&__control {
      border: 1px solid #d1d5db !important;
      border-radius: 12px !important;

			&:hover {
				border: 1px solid #bfdbfe !important;
			}

			&-error {
			  border: 1px solid red !important;
			}
    }

    &__placeholder {
      color: #9ca3af !important;
    }

    &__input-container {
      cursor: text !important;
    }

    &__indicator {
      cursor: pointer;
      color: black !important;

      &:hover {
        color: #636363 !important;
      }
    }

    &__menu {
      font-size: 20px !important;
      border: 1px solid #b1b1b1 !important;
      border-radius: 7px !important;
      animation: scaleIn 0.35s ease-in-out;
			z-index: 2 !important;
    }

    &__option {
      cursor: pointer !important;

      &--is-selected {
        color: #000 !important;
        background-color: #93c5fd !important;
        border-radius: 12px !important;
      }

      &--is-focused {
        background-color: #bfdbfe !important;
        border-radius: 12px !important;
      }
    }
  }

  &__btns {
    @apply flex items-center justify-center mt-5;
  }
}

.react-datepicker__view-calendar-icon {
  display: flex !important;
  align-items: center;
}

.control {
	&__wrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
	}
}

.filters {
  @apply flex flex-col justify-between gap-5;
  height: clamp(100px, 45vw, 370px);

  &__btns {
    @apply flex justify-center items-center gap-3;
  }
}

/* slider */
.awssld__content > img {
  object-fit: contain !important;
}

// Table
.table-cell-row {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    color:rgb(94, 93, 93);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
