.form__group {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 7px;

  &-row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  &-center {
    justify-content: center;
  }

  & + .form__group {
    margin-top: 9px;
  }
}
