.group {
	display: flex;
	align-items: flex-start;
	gap: 7px;

	&-jcse {
	justify-content: space-evenly;
	}

	&-w-50 {
	 width: 50%;
	}

	&-w-100 {
	 width: 100%;
	}

	&-str {
		align-items: stretch;
	}

	&-aic {
		align-items: center;
	}

	&-col {
    flex-direction: column;
  }

  &-center {
    justify-content: center;
  }

  &-no-mg {
    margin-top: unset !important;
  }

  &-no-gap {
    gap: unset !important;
  }

  /* & + .group {
    margin-top: 20px;
  } */
}
