.group {
	display: flex;
	align-items: flex-start;
	gap: 7px;

	&-w-50 {
	 width: 50%;
	}

	&-w-100 {
	 width: 100%;
	}

	&-str {
		align-items: stretch;
	}

	&-col {
    flex-direction: column;
  }

  &-center {
    justify-content: center;
  }

  & + .group {
    margin-top: 9px;
  }
}
